



#header { z-index: 40; position: relative; width: 100%; height: 70px; } 
.header_wrap { position: fixed; left: 0; top: 0; width: 100%; height: 70px; background-color: #fff; border-bottom: 1px solid #ccc; } 
  .header_inner { position: relative; width: 100%; background-color: #f3f3f3; }

/* header */
h1.logo { position: absolute; left: 30px; top: 17px; } 
h1.logo>a { display: block; width: 177px; height: 37px; background: url(../images/logo.png) no-repeat 0 0; text-indent: -9999px; overflow: hidden; } 

/* 주메뉴 */
nav.gnb>ul { width: 100%; text-align: center; } 
.gnb>ul>li { display: inline-block; padding: 0 45px; line-height: 70px; height: 70px; } 
.gnb>ul>li>a { display: inline-block; font-size: 18px; color: #000; font-weight: 600; position: relative; } 
.gnb>ul>li>a:after { content: ""; position: absolute; left: 50%; bottom: -1px; width: 0; height: 3px; background: #043285; 
                    transform: translateX(-50%); transition: all 0.3s ease-in-out; } 
.gnb>ul>li:hover>a:after { width: 100%; height: 3px; } 
.gnb>ul>li>div { width: 100%; display: none; height: 0px; position: absolute; left: 0; line-height: 40px; opacity: 0; transition: opacity 0.3s ease-in-out; } 
.gnb>ul>li.on>div { display: block; opacity: 1; padding: 30px 0; } 

.gnb>ul>li>div>ul { margin-bottom: 30px; } 
.gnb>ul>li>div>ul>li { display: inline-block; padding: 0 40px; border-right: 1px solid #ddd; vertical-align: top; text-align: left; } 
.gnb>ul>li>div>ul>li:last-child { border-right: none; } 

.gnb>ul>li>div>ul>li>a { display: block; font-size: 16px; color: #1428a0; font-weight: bold; } 

.gnb>ul>li>div>ul>li>ul { float: left; } 
.gnb>ul>li>div>ul>li>ul:nth-of-type(2) { margin-left: 50px; } 

.gnb>ul>li:first-of-type>div { height: 390px; } 
.gnb>ul>li:nth-of-type(2)>div { height: 200px; } 
.gnb>ul>li:nth-of-type(3)>div { height: 120px; } 
.gnb>ul>li:nth-of-type(4)>div { height: 350px; } 
.gnb>ul>li:nth-of-type(5)>div { height: 164px; } 



.gnb_button>a { display: inline-block; border: 1px solid #e2e2e2; border-radius: 5px; padding: 10px 20px 0; 
                background: url(../images/btn_arrow_ico_l.png) no-repeat 95% 50%; text-align: left; line-height: 30px; } 
.gnb_button>a>strong { font-size: 18px; font-weight: 600; } 
.gnb>ul>li:nth-child(1)>div>.gnb_button>a { width: 780px; height: 70px; background-position: 97% 50%; } 
.gnb>ul>li:nth-child(1)>div>.gnb_button>a>strong { color: #1428a0; } 

.gnb>ul>li:nth-child(4)>div>.gnb_button>a { width: 320px; height: 70px; margin-right: 5px; } 

/* 탑메뉴 */
dl.topMenu { position: absolute; right: 60px; top: 0; } 
.topMenu>dd { float: left; } 
.topMenu>dd>a { position: relative; display: block; width: 60px; height: 40px; padding-top: 30px; text-align: center; font-weight: 600; } 
.topMenu>dd>a:after { content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 10px; background: #ddd; } 
.topMenu>dd:first-of-type>a { background: url(../images/ico_inq.png) no-repeat 50% 30px; text-indent: -9999px; overflow: hidden; } 
.topMenu>dd:first-of-type>a:after { display: none; } 
.topMenu>dd>ul { visibility: hidden; position: absolute; top: 67px; width: 60px; border-top: 4px solid #1428a0; padding-top: 10px; background: #fff; } 
.topMenu>dd:hover>ul { visibility: visible; display: block; } 
.topMenu>dd:nth-of-type(2)>ul>li>a { display: block; width: 30px; height: 30px; border-radius: 50%; margin: 0 auto; text-indent: -9999px; overflow: hidden; margin-bottom: 10px; } 
.topMenu>dd:nth-of-type(2)>ul>li:first-child>a { background: #ededed url(../images/utill_sns_ico.png) no-repeat -30px 0; } 
.topMenu>dd:nth-of-type(2)>ul>li:nth-child(2)>a { background: #ededed url(../images/utill_sns_ico.png) no-repeat -60px 0; } 
.topMenu>dd:nth-of-type(2)>ul>li:nth-child(3)>a { background: #ededed url(../images/utill_sns_ico.png) no-repeat 0 0; } 
.topMenu>dd:nth-of-type(2)>ul>li:last-child>a { background: #ededed url(../images/utill_sns_ico.png) no-repeat -120px 0; } 
.topMenu>dd:last-of-type>ul { height: 130px; } 
.topMenu>dd:last-of-type>ul>li { text-align: center; padding: 10px 0; } 

/* 검색버튼 */
div.btn_srch { position: absolute; right: 0; top: 0; } 
.btn_srch a { display: block; width: 60px; height: 71px; text-indent: -9999px; overflow: hidden; background: #043285 url(../images/btn_srch_ico.png) no-repeat 50% 50%; } 

/* 검색박스 */
div.srch_wrap { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); } 
div.srch_wrap.on { display: block; }
div.srch_inner { position: absolute; left: 0; top: 70px; width: 100%; height: 200px; padding-top: 60px; background: url(../images/srch_pop_bg.jpg) no-repeat 50% 50%; } 
.srch_inner>form { width: 655px; margin: 0 auto; } 
.srch_inner>form>fieldset { width: 100%; height: 55px; background: #fff; margin-bottom: 20px; } 
.srch_inner input[type="search"] { width: 600px; height: 55px; text-indent: 20px; border: none; } 
.srch_inner button[type="button"] { width: 45px; height: 45px; background: #333 url(../images/btn_srch_ico_l.png) no-repeat 50% 50%; border: none; 
                                    position: relative; left: 2px; top: 2px; text-indent: -9999px; overflow: hidden; } 
.srch_inner>form>ul { width: 100%; border-top: 1px solid rgba(255, 255, 255, 0.5); padding-top: 20px; } 
.srch_inner>form>ul>li { float: left; height: 45px; padding: 0 29px; margin-right: 10px; border-radius: 5px; 
                          background: #eee url(../images/btn_arrow_ico_m.png) no-repeat 90% 50%; line-height: 45px; } 
.srch_inner>form>ul>li:last-child { float: right; margin-right: 0; } 
button[type="button"].btn_srch_close { position: absolute; right: 0; top: 0; width: 60px; height: 70px; background: #043285 url(../images/srch_pop_close.png) no-repeat 50% 50%; outline: none; border: none;
                  text-indent: -9999px; overflow: hidden; } 
